.gallery {
  height: 100vh !important;
  width: 100%;
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  width: 100%;
  display: flex;
}

.gallery .pics img {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px;
  transition: box-shadow 1s;
}

.gallery .pics .img-date {
  font-size: 0.8em;
  color: #939393;
  font-style: normal;
  display: block;
  margin-top: 0.5em;
}

.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}
