.wrapper {
  background-color: #3498db;
}

.navbar {
  font-family: Montserrat -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Fira Sans', Avenir, 'Helvetica Neue', 'Lucida Grande', sans-serif;
  padding-top: 2.75em;
  padding-bottom: 1.5em;
  border: none;
}

.navbar-default .navbar-collapse .menu_container {
  flex: 1;
}

.navbar-default .navbar-collapse .navbar-nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.navbar-default .navbar-collapse .menu {
  margin-bottom: 30px;
}

.navbar-default .navbar-collapse .social {
  margin-top: 30px;
  text-align: center;
}

.navbar-default .navbar-collapse .social a {
  font-size: 23px;
}

.nav_container {
  display: inline-block;
  flex: 1;
}

.header {
  margin: 0px 0px 40px 0px;
  text-align: center;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.header_title {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600 !important;
  font-size: 3.4em !important;
  line-height: 1.3em;
  letter-spacing: 3px !important;
  color: white;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav .nav-link {
  text-transform: full-width;
  text-align: center;
  color: white;
  padding: 8px 24px;
}

.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-default .navbar-nav .nav-link {
  position: relative;
  text-decoration: none;
  text-transform: full-width;
  transition: 0.25s none;
}

.navbar-default .menu .nav-link:before {
  content: '';
  position: absolute;
  top: 49%;
  left: -7px;
  margin-top: -2px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ffffff;
}

.navbar-default .menu .link_undotted:before,
.navbar-default .menu .nav-link:first-child:before {
  display: none;
}

.navbar-default .navbar-nav .active {
  font-weight: 600;
  color: #ffffff !important;
}

.navbar-default .navbar-nav .nav-link::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: top;
  transition: transform 0.25s;
}

.navbar-default .navbar-nav .nav-link:hover {
  color: #e6e6e6;
}
.navbar-default .navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

@media (min-width: 768px) {
  .headroom--scrolled .wrapper {
    background-color: #3498db;
    padding-top: 0px;
  }

  .headroom--scrolled .navbar {
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) !important;
  }

  .headroom--scrolled .header {
    margin: 0px;
    text-align: left;
    align-items: normal;
    justify-content: normal;
  }

  .headroom--scrolled .navbar-default .navbar-brand,
  .headroom--scrolled .navbar-default .navbar-nav .nav-link {
    text-align: left;
    padding: 8px 24px 8px;
  }

  .headroom--scrolled .navbar-default .navbar-brand {
    padding: 8px 24px 8px 0px;
  }

  .headroom--scrolled .navbar .navbar-toggler {
    border-color: transparent !important;
    padding: 4px 8px !important;
    outline-style: none;
  }

  .headroom--scrolled .navbar .navbar-toggler .navbar-toggler-icon {
    color: #ffffff !important;
    background: RGBA(1, 1, 1, 1) !important;
  }

  .headroom--scrolled .header_title {
    font-size: 1.7em !important;
    line-height: 1.3em;
    letter-spacing: 3px !important;
    text-align: left;
    color: white;
    align-items: normal;
    justify-content: normal;
    margin-bottom: 0px;
  }

  .headroom--scrolled .navbar-default .navbar-collapse .social,
  .headroom--scrolled .navbar-default .navbar-collapse .menu {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .headroom--scrolled .navbar-default .navbar-collapse .menu_container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .headroom--scrolled .navbar-default .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .headroom--scrolled .menu_mobile {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .headroom--scrolled .nav_container {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}

@media (max-width: 767px) {
  .wrapper {
    background-color: #3498db;
    padding-top: 0px;
  }

  .navbar {
    padding-top: 1.5em;
    padding-bottom: 1.2em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) !important;
  }

  .header {
    margin: 0px;
    text-align: left;
    align-items: normal;
    justify-content: normal;
  }

  .navbar-default .navbar-brand,
  .navbar-default .navbar-nav .nav-link {
    text-align: left;
    padding: 8px 24px 8px;
  }

  .navbar-default .navbar-brand {
    padding: 8px 24px 8px 0px;
  }

  .navbar .navbar-toggler {
    border-color: transparent !important;
    padding: 4px 8px !important;
    outline-style: none;
  }

  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #ffffff !important;
    background: RGBA(1, 1, 1, 1) !important;
  }

  .header_title {
    font-size: 1.7em !important;
    line-height: 1.3em;
    letter-spacing: 3px !important;
    text-align: left;
    color: white;
    align-items: normal;
    justify-content: normal;
  }

  .navbar-default .navbar-collapse .menu_container {
    display: inline;
  }

  .navbar-default .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .menu_mobile {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .nav_container {
    display: block;
  }
}

.nav-icon {
  width: 40px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fff;
  border-radius: 1px;
  content: '';
  display: block;
  height: 3px;
  margin: 7px 0;
}
